body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.zona {
  width: 512px;
  height: 512px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin: 20px;
  display: inline-block;
  border-radius: 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.slot {
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px dashed #ccc;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.4);
}

.slot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagenes {
  margin-top: 20px;
}

.imagenes img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 5px;
  cursor: grab;
}


#fecha-select:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(52,152,219,0.3);
}
